@charset "utf-8";

*,
**::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/font/OpenSans-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/font/OpenSans-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/font/OpenSans-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/font/OpenSans-Bold.woff2);
  font-weight: 700;
}

:root {
  --allTransition: all 0.5s ease;
  --mainBlack: rgb(42, 42, 51);
  --mainBlue: #1a79ff;
  --white: #ffffff;
}

main {
  font-family: "Open Sans";
  width: 100%;
  background: var(--white);
}

.parent__container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 1px solid rgb(216, 216, 216);
}

.dropdown:hover .dropdown-content,
.dropdown:hover .manage-rentals__content {
  display: block;
  transition: var(--allTransition) 3s;
}

ul {
  list-style: none;
}

a.main__link {
  color: var(--mainBlack);
}

a.main__link:hover {
  color: var(--mainBlue);
}

.zillow-header__logo {
  width: 160px;
}

.logo__wrapper {
  margin-right: 120px;
  margin-left: 120px;
}

.dropdown__paragraph {
  margin-left: 40px;
}

.dropdown__paragraph,
.manage-rentals__content {
  color: var(--mainBlack);
  font-weight: 600;
}

.mega-dropdown a,
.manage-rentals__content a {
  color: var(--mainBlue);
  font-size: 14px;
}

.mega-dropdown a:hover,
.manage-rentals__content a:hover {
  color: var(--mainBlack);
  text-decoration: underline;
}

.mega-dropdown ul li {
  margin-bottom: 20px;
}

header {
  padding-top: 20px;
  background: var(--white);
}

.mega-dropdown {
  padding-top: 20px;
}

.mega-dropdown > div:nth-of-type(1),
.rental-bub__wrapper,
.calculators__wrapper {
  border-right: 1px solid rgb(216, 216, 216);
  padding-right: 20px;
}

.resources__container {
  padding-left: 32px;
}

.resources__container > p {
  margin-bottom: 28px;
}

.manage-rentals__content {
  display: none;
  position: absolute;
  width: max-content;
  padding: 20px 12px 12px 20px;
  background-color: var(--white);
  border: 1px solid rgb(216, 216, 216);
  margin-top: -16px;
  right: 220px;
  overflow-y: scroll;
  z-index: 1;
}

.manage-rentals__content ul {
  margin-left: -40px;
}

.manage-rentals__content ul li {
  margin-bottom: 20px;
}

.manage-rentals__content > div > div:nth-child(1) {
  border-bottom: 1px solid rgb(216, 216, 216);
}

section.agent__section {
  background-image: url(../assets/images/zillow_girl.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 120px;
}

section.agent__section h1 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  line-height: 36px;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
  filter: drop-shadow(0px 0px 5px #000);
}

svg {
  width: 24px;
  color: var(--mainBlack);
}

button.icon-btn,
input[type="text"] {
  background: none;
  border: none;
}

input[type="text"] {
  width: 100%;
  outline: none;
}

.input__container {
  background: var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
}

section.home-recommendation__section {
  margin: 80px auto 40px;
  max-width: 1100px;
}

section.home-recommendation__section h5 {
  color: var(--mainBlack);
  text-transform: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0px;
}

section.home-recommendation__section p {
  color: rgb(89, 107, 130);
  text-transform: none;
  font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

button.sign-in__btn {
  outline: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--mainBlue);
  padding: 9px 16px;
  border-radius: 4px;
  margin-top: 12px;
  background-color: transparent;
  transition-property: background-color, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

button.sign-in__btn a {
  color: var(--mainBlue);
}
